<!-- Icon -->
<div class='frost-info-bar-icon' data-test={{hook (concat hook '-icon')}}>
  {{component icon}}
</div>
<!-- Title -->
<div class='title'>
  <div class='primary-title' data-test={{hook (concat hook '-title')}}>
      {{#if (type-of title 'object')}}
        {{component title}}
      {{else}}
        {{title}}
      {{/if}}
  </div>
  <div class='sub-title' data-test={{hook (concat hook '-summary')}}>
    {{#if (type-of summary 'object')}}
      {{component summary}}
    {{else}}
      {{summary}}
    {{/if}}
  </div>
</div>
<!-- Controls -->
<div class='scope' data-test={{hook (concat hook '-scope')}}>
  {{component scope}}
</div>
<!-- Actions -->
<div class='controls' data-test={{hook (concat hook '-controls')}}>
    {{#each controls as |control index|}}
      {{component control
        design='info-bar'
        hook=(concat hook '-controls-' index)
      }}
    {{/each}}
</div>
{{yield}}
