{{yield}}

{{#yield-slot 'icon'}}
  <div class='frost-info-bar-icon' data-test={{hook (concat hook '-icon')}}>
    {{yield}}
  </div>
{{/yield-slot}}

<div class='title'>
  {{#yield-slot 'title'}}
      <div class='primary-title' data-test={{hook (concat hook '-title')}}>
        {{yield}}
      </div>
  {{/yield-slot}}

  {{#yield-slot 'summary'}}
      <div class='sub-title' data-test={{hook (concat hook '-summary')}}>
        {{yield}}
      </div>
  {{/yield-slot}}
</div>

{{#yield-slot 'controls'}}
    <div class='controls' data-test={{hook (concat hook '-controls')}}>
      {{yield}}
    </div>
{{/yield-slot}}

{{#yield-slot 'actions' (block-params
  (hash
    button=(component 'frost-button'
      design='info-bar'
      hook=(concat hook '-action')
    )
  )
)}}
    <div class='actions'>
      {{yield}}
    </div>
{{/yield-slot}}
