<!-- Icon -->
<div class='frost-info-bar-icon' data-test={{hook (concat hook '-icon')}}>
  {{component icon}}
</div>
<!-- Title -->
<div class='title'>
  <div class='primary-title' data-test={{hook (concat hook '-title')}}>
    {{component title}}
  </div>
  <div class='sub-title' data-test={{hook (concat hook '-summary')}}>
    {{component summary}}
  </div>
</div>
<!-- Controls -->
<div class='controls' data-test={{hook (concat hook '-scope')}}>
  {{component scope}}
</div>
<!-- Actions -->
<div class='actions' data-test={{hook (concat hook '-controls')}}>
  {{component controls}}
</div>
{{yield}}
