{{yield}}

{{#yield-slot 'icon'}}
  <div class='frost-info-bar-icon'>
    {{yield}}
  </div>
{{/yield-slot}}

<div class='title'>
  {{#yield-slot 'title'}}
      <div class='primary-title'>
        {{yield}}
      </div>
  {{/yield-slot}}

  {{#yield-slot 'summary'}}
      <div class='sub-title'>
        {{yield}}
      </div>
  {{/yield-slot}}
</div>

{{#yield-slot 'controls'}}
    <div class='controls'>
      {{yield}}
    </div>
{{/yield-slot}}

{{#yield-slot 'actions' (block-params
  (hash
    button=(component 'frost-button'
      priority='tertiary'
      size='small'
      vertical=true
    )
  )
)}}
    <div class='actions'>
      {{yield}}
    </div>
{{/yield-slot}}
