{{#frost-info-bar}}
  {{#block-slot 'icon'}}
    {{frost-icon
      icon='bacon'
      pack='dummy'
    }}
  {{/block-slot}}
  {{#block-slot 'title'}}
    &lt;placeholder: title&gt;
  {{/block-slot}}
  {{#if summary}}
    {{#block-slot 'summary'}}
      &lt;placeholder: summary&gt;
    {{/block-slot}}
  {{/if}}
  {{#block-slot 'controls'}}
      &lt;placeholder: controls&gt;
  {{/block-slot}}
  {{#block-slot 'actions' as |action|}}
    {{action.button
      icon='infobar-create'
      text='Click me!'
      onClick=(action 'triggerAction')
    }}
  {{/block-slot}}
{{/frost-info-bar}}

<div class='demo-controls'>
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
</div>
