<!-- BEGIN-SNIPPET template -->
{{frost-info-bar
  icon-module=(component 'frost-icon'
    icon='bacon'
    pack='dummy'
  )
  title-module=(component 'text-box'
    text='&lt;placeholder: title&gt;'
  )
  summary-module=(component 'text-box'
    isVisible=summary
    text='&lt;placeholder: summary&gt;'
  )
  controls-module=(component 'text-box'
    text='&lt;placeholder: controls&gt;'
  )
  actions-module=(component 'frost-button'
    design='info-bar'
    icon='infobar-create'
    text='Click me!'
    onClick=(action 'triggerAction')
  )
}}
<!-- END-SNIPPET -->
<div class='demo-controls'>
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
</div>
<div class='page-content'>
  <div class='row'>
    <div class='item'>
      <h3>Controller</h3>
      {{code-snippet name='controller.js'}}
    </div>
    <div class='item'>
      <h3>Template</h3>
      {{code-snippet name='template.hbs'}}
    </div>
  </div>
</div>
