{{frost-info-bar
  icon-module=(component 'frost-icon'
    icon='bacon'
    pack='dummy'
  )
  title-module=(component 'text-box'
    text='&lt;placeholder: title&gt;'
  )
  summary-module=(component 'text-box'
    isVisible=summary
    text='&lt;placeholder: summary&gt;'
  )
  controls-module=(component 'text-box'
    text='&lt;placeholder: controls&gt;'
  )
  actions-module=(component 'frost-button'
    design='info-bar'
    icon='infobar-create'
    text='Click me!'
    onClick=(action 'triggerAction')
  )
}}

<div class='demo-controls'>
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
  {{frost-button
    priority='secondary'
    size='small'
    text='Toggle summary on/off'
    onClick=(action 'toggleSummary')
  }}
</div>
